---

- name: "Get latest {{ subid_type }} entry"
  ansible.builtin.command:
    cmd: "tail -1 /etc/{{ subid_type }}"
  changed_when: false
  register: latest_subid_result

- name: "Filter end of {{ subid_type }} range"
  ansible.builtin.set_fact:
    subid_end: "{{ latest_subid_result.stdout.split(':')[-1] }}"

- name: "Ensure {{ subid_type }} range for user {{ rootless_user }}"
  become: true
  ansible.builtin.lineinfile:
    path: "/etc/{{ subid_type }}"
    line: "{{ rootless_user }}:{{ subid_end }}:{{ subid_end | int + subid_steps }}"
    create: true
    state: present
    mode: "0644"


...
